.traffic-light
{           
    width: 80px;
    padding: 10px;
    background: black;
   border-radius: 20px;
}

.light
{
    width: 60px;
    height: 60px;
    background: rgb(116, 159, 216);
    border-radius: 50%;
    margin: 10px auto;
}
.red
{
     background: red;
}
.yellow 
{ 
    background: yellow;
}
.green {
     background: green; 
}