body{
    background-color: azure;
}
form{
    margin: 50px auto;
    padding: 50px;
    display: block;
    border: 8px solid green;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    height: 100%;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}
h1{
    text-align: center;
    color: green;
    margin-bottom: 20px;
}
label
{
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
input, select, textarea
{
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid rgb(0, 255, 55);
    border-radius: 5px;
}

input[type="submit"], input[type="reset"], input[type="login"]
{
    width: 48%;
    margin-top: 15px;
    cursor: pointer;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    transition: background-color 0.3s;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="login"]:hover
{
    background-color: #228B22;
}